<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <p> Hello, welcome to my website! My name is Zayd Attyani and I am a second year student at Ontario Tech University
            for the Networking and Information Technology Security program. Some of my hobbies are running, swimming, soccer, and martial arts.
            I have been training in various martial arts since I was 4 years old. I like learning, and I am most interested in networking, programming,
            and cyber security.</p>
        <img src="/Assets\images/about_me_photo.jpg" alt="This is me.">
        <video width="400" height="540" controls preload="auto">
            <source src="/Assets\images/about_me_video.mp4" type="video/mp4" alt="This is a video.">
    </body>