<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects</title>
    </head>
    <body>
<p>
            <h4>
                I have worked on many projects during my time at Ontario Tech University, and I am proud of all of them.
            </h4>
        </p>
        <p>
            <h2>
                Python:
            </h2>
            <h4>
                my greatest achievement in python was my final project int the course Object Oriented Programming, where we had to create a hotel 
                reservation system using SQLite.
            </h4>
            <h2>
                Networking:
            </h2>
            <h4>
                In my final project for the course Introduction to Networking 2, my team and I developed a network capable of being integrated
                to all branches of a company in different locations through a dedicated WAN connection using BGP and can also be managed remotely. 
            </h4>

        </p>
    </body>
</html>